@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }

  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Show scrollbar for desktop */
@media (min-width: 1025px) {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}
